<!-- Start Top Header Bar -->
<!-- Start Top Header Bar -->
<section class="top-header">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12 col-sm-4">
				<div class="contact-number">
					<i class="tf-ion-ios-telephone"></i>
					<span>095-562-8256</span>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 col-sm-4">
				<!-- Site Logo -->
				<div class="logo text-center">
					<a href="index.html">
						<!-- replace logo here -->
						<svg width="135px" height="29px" viewBox="0 0 155 29" version="1.1" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink">
							<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="40"
								font-family= 'Urbanist' font-weight="bold">
								<g id="Group" transform="translate(-108.000000, -297.000000)" fill="#000000">
									<text id="MAGO">
										<tspan x="108.94" y="325">MAGO</tspan>
									</text>
								</g>
							</g>
						</svg>
					</a>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 col-sm-4">
				<!-- Profile -->
				<ul class="top-menu text-right list-inline">		
					<!-- Cart -->
					<li class="dropdown cart-nav dropdown-slide">
						<a href="cart.html">
							<i class="tf-ion-android-cart"></i> Cart</a>
					</li>
					<!-- / Cart -->

					<!-- Search -->
					<li class="dropdown search dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i
								class="tf-ion-ios-search-strong"></i> Search</a>
						<ul class="dropdown-menu search-dropdown">
							<li>
								<form action="post"><input type="search" class="form-control" placeholder="Search..."></form>
							</li>
						</ul>
					</li><!-- / Search -->

					<li class="dropdown dropdown-slide">
						<a href="login.html">
							<i class="tf-ion-person"></i> Log in</a> 
					</li><!-- / Profile -->
					
				</ul><!-- / .nav .navbar-nav .navbar-right -->
			</div>
		</div>
	</div>
</section><!-- End Top Header Bar -->


<!-- Main Menu Section -->
<section class="menu">
	<nav class="navbar navigation">
		<div class="container">
			<div class="navbar-header">
				<h2 class="menu-title">Main Menu</h2>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

			</div><!-- / .navbar-header -->

			<!-- Navbar Links -->
			<div id="navbar" class="navbar-collapse collapse text-center">
				<ul class="nav navbar-nav">

					<li class="dropdown full-width dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
							role="button" aria-haspopup="true" aria-expanded="false">Shop <span
								class="tf-ion-ios-arrow-down"></span></a>
						<div class="dropdown-menu">
							<div class="row">

								<!-- Basic -->
								<div class="col-sm-3 col-xs-12">
									<ul>
										<li class="dropdown-header">⠀ ⠀ ⠀
										</li>
										<li role="separator" class="divider"></li>
										<li><a href="shop.html">All products</a></li>
										<li><a href="Bambo.html">Bambo</a></li>
										<li><a href="Brook.html">Brook</a></li>
										<li><a href="Cantier Grace.html">Cantier Grace</a></li>
										<li><a href="Celyn.html">Celyn</a></li>
										<li><a href="DAWN.html">Dawn</a></li>
										<li><a href="De' Bean 1.html">De'Bean</a></li>
										<li><a href="De' Bean 2.html">De'Bean II</a></li>
									</ul>
								</div>
								
								<div class="col-sm-3 col-xs-12">
									<ul>
										<li class="dropdown-header" Align="center">Products</li>
										<li role="separator" class="divider"></li>
										<li><a href="GLINT.html">Glint</a></li>
										<li><a href="KATE 1.html">Kate</a></li>
										<li><a href="KATE HALF.html">Kate Half</a></li>
										<li><a href="KATE WALKSTAR.html">Kate Walkstar</a></li>
										<li><a href="LITA 1.html">Lita</a></li>
										<li><a href="LITA WALKSTAR.html">Lita Walkstar</a></li>
										<li><a href="Malyn 1.html">Malyn</a></li>
										<li><a href="Malyn 2.html">Malyn II</a></li>
									</ul>
								</div>

								<div class="col-sm-3 col-xs-12">
									<ul>
										<li class="dropdown-header">⠀ ⠀ ⠀
										</li>
										<li role="separator" class="divider"></li>
										<li><a href="MG-777.html">MG-777</a></li>
										<li><a href="MILA.html">Mila</a></li>
										<li><a href="MONICA.html">Monica</a></li>
										<li><a href="RINA.html">Rina</a></li>
										<li><a href="WABI.html">WABI</a></li>
										<li><a href="WAVE FLIP.html">WAVE FLIP</a></li>
										<li><a href="WYNN.html">WYNN</a></li>
									</ul>
								</div>

							</div>
						</div><!-- / .row -->
					</li><!-- / Pages -->

				<!-- / Contacts -->
				<li class="dropdown dropdown-slide">
					<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
						role="button" aria-haspopup="true" aria-expanded="false">Contacts
						<span
							class="tf-ion-ios-arrow-down"></span></a>
					<div class="dropdown-menu">
							<!-- About -->
						<ul>
							<li><a href="contact.html">Shop Locations</a></li>
							<li><a href="https://linktr.ee/magofootwear">Online Shop</a></li>							
						</ul>
					</div><!-- / .dropdown-menu -->
				</li>
				<!-- / Contacts -->
					
				<!-- Pages -->
				<li class="dropdown dropdown-slide">
					<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
						role="button" aria-haspopup="true" aria-expanded="false">Others <span
							class="tf-ion-ios-arrow-down"></span></a>
					<div class="dropdown-menu">
							<!-- About -->
						<ul>
							<li class="dropdown-header">For you</li>
							<li role="separator" class="divider"></li>
							<li><a href="about.html">About Us</a></li>
							<li><a href="dashboard.html">Order Status</a></li>
							<li><a href="reviews.html">Reviews</a></li>
							<li><a href="validate.html">Staff</a></li>
						</ul>
					
					</div><!-- / .dropdown-menu -->
				</li>
				<!-- / Pages -->

				<!-- Blog -->
				<li class="dropdown dropdown-slide">
					<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
						role="button" aria-haspopup="true" aria-expanded="false">Size <span
							class="tf-ion-ios-arrow-down"></span></a>
					<ul class="dropdown-menu">
						<li><a href="blog-single.html">How To Size</a></li>
						<li><a href="alerts.html">alerts</a></li>
						<li><a href="buttons.html">buttons</a></li>
					</ul>
				</li>
			<!-- / Blog -->
			</div>
			<!--/.navbar-collapse -->
		</div><!-- / .container -->
	</nav>
</section>